@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

.plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Minimal CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

:root {
    /* Primary Colors */
    --lime: hsl(61, 70%, 52%);
    --red: hsl(4, 69%, 50%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);

    /* Font */
    --fs-100: 16px;
    --ff-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --fw-500: 500;
    --fw-700: 700;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--slate-100);
}

main.project-container {
    max-width: 1000px;
    display: grid;
    background-color: #fff;
    overflow-x: hidden;
}

div.loan-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.25rem;
    background-color: #fff;
}

.title h1 {
    color: var(--slate-900);
}

.title button {
    border: none;
    text-decoration: underline;
    text-decoration-color: var(--slate-700);
    text-underline-offset: 3px;
    background-color: transparent;
    color: var(--slate-700);
    font-weight: var(--fw-500);
    font-size: 1rem;
    font-family: inherit;
}

form label {
    display: block;
    margin-bottom: 0.50rem;
    color: var(--slate-700);
    font-weight: var(--fw-500);
}

form .input-wrapper {
    margin-bottom: 1rem;
}

.input-wrapper div {
    position: relative;
    border: 1px solid var(--slate-700);
    border-radius: 5px;
    overflow: hidden;
}

span {
    position: absolute;
    background-color: var(--slate-100);
    padding: 0.875rem;
    font-family: inherit;
    font-weight: var(--fw-700);
    color: var(--slate-700);
    letter-spacing: 1px;
}

.loan-term,
.percent {
    right: 0;
}

form input[type='number'],
form input[type='text'] {
    display: inline-block;
    border: none;
    padding: 0.875rem 0;
    width: 100%;
    border: none;
}


#amount {
    padding-left: 3rem;
}

#term,
#rate {
    padding-left: 1rem;
}


fieldset {
    border: none;
    margin-bottom: 0.5rem;
}

fieldset label {
    color: var(--slate-900);
    font-weight: var(--fw-700);
    display: flex;
    align-items: center;
    width: 100%;
    height: 43px;
    padding: 0 0.875rem;
    border: 1px solid var(--slate-700);
    border-radius: 5px;

}

form input[type='radio'] {
    width: 20px;
    height: 20px;
    border: 1px solid var(--slate-900);
    border-radius: 50%;
    accent-color: var(--lime);
    margin-right: 0.5rem;
}

.input-wrapper.radio:focus-within {
    background-color: hsla(61, 70%, 52%, 0.099);
    border-color: var(--lime);
}

.input-wrapper:has(input[type="radio"]:checked) {
    background-color: hsla(61, 70%, 52%, 0.099);
    border-color: var(--lime);
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


legend {
    color: var(--slate-700);
    font-weight: var(--fw-500);
    margin-bottom: 0.50rem;
}

form button[type='submit'] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.75rem 0;
    margin-bottom: 0.25rem;
    border-radius: 25px;
    border: none;
    background-color: var(--lime);
    color: var(--slate-900);
    font-weight: var(--fw-700);
    font-family: inherit;
    font-size: 1.1rem;
}

form button[type='submit'] img {
    margin-right: 0.875rem;
}

/* Error message & state */

.input-wrapper div span.error {
    color: #fff;
    background-color: var(--red);
}

.input-wrapper div:has(span.error) {
    border-color: var(--red);
}

.input-wrapper div:has(span.error) input:focus {
    outline: none;
}

.input-wrapper:focus-within span {
    background-color: var(--slate-900);
    color: var(--lime);
}

.input-wrapper:focus-within span.error {
    color: #fff;
    background-color: var(--red);
}

.error-msg {
    color: var(--red);
    font-size: 0.825rem;
    margin-top: 0.5rem;
}

#amount-error,
#term-error,
#rate-error,
#type-error {
    display: none;
}

form button[type='submit'].disabled-btn {
    background-color: hsla(61, 70%, 52%, 0.40);
}


/* Results  */
div.results {
    background-color: var(--slate-900);
    color: #fff;
    padding: 2rem;
    line-height: 1.5;
}

div.empty-results {
    display: grid;
    display: none;
    row-gap: 1rem;
    justify-content: center;
    text-align: center;
}

.empty-results img {
    width: 200px;
    margin: 0 auto;
}

div.empty-results p,
div.calculated-results p:first-of-type {
    color: var(--slate-300);
    font-weight: var(--fw-500);
}

.calculated-results {
    /* display: none; */
    display: grid;
    row-gap: 1rem;
    position: relative;
    z-index: 1;
}

.repayment-container {
    display: grid;
    position: relative;
    row-gap: 1.5rem;
    background-color: hsl(202, 58%, 11%);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;

}

.repayment-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    top: -2%;
    background-color: var(--lime);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: -1;
}

.repayment-container .monthly-repayment {
    font-size: 3rem;
    font-weight: var(--fw-700);
    color: var(--lime);
    letter-spacing: 1px;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--slate-700);
    border-radius: 5px;
}

.repayment-container .total-repayment {
    font-size: 2rem;
    font-weight: var(--fw-500);
    letter-spacing: 1px;
}

/* Large Screens */

@media screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }

    main.project-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        border-radius: 20px;
    }

    div.loan-info {
        padding: 2rem;
    }

    form .input-wrapper {
        margin-bottom: 1.5rem;
    }

    .input-wrapper div:hover {
        border-color: var(--slate-900);
    }

    form fieldset .input-wrapper {
        margin-bottom: 1rem;
    }

    form fieldset .input-wrapper:last-of-type {
        margin-bottom: 2rem;
    }

    fieldset label:hover {
        cursor: pointer;
        border-color: var(--lime);
    }

    .title {
        display: flex;
        justify-content: space-between;
    }

    .title button:hover {
        cursor: pointer;
        color: var(--slate-900);
        text-decoration-color: var(--slate-900);
    }

    .term-rate-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .term-rate-wrapper .input-wrapper {
        width: 48%;
    }

    form button[type='submit'] {
        width: 70%;
        transition: transform 0.2s ease;
    }

    form button[type='submit']:hover {
        cursor: pointer;
        transform: scale(1.01);
    }

    form button[type='submit']:active {
        transform: scale(0.99);
    }

    div.results {
        border-bottom-left-radius: 15%;
    }
}

@media screen and (max-width: 500px) {
    .repayment-container {
        max-width: 315px;
    }

    .repayment-container .monthly-repayment {
        font-size: 2rem;
    }

    .repayment-container .total-repayment {
        font-size: 1.5rem;
    }

    div.calculated-results p:first-of-type {
        font-size: 0.875rem;
    }
}